.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SmurfList {
  margin-bottom: 60px;
  max-width: 700px;
}

.Smurf {
  padding: 30px 0;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
}

.delete {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

.SmurfForm {
  display: flex;
  flex-direction: column;
}

.SmurfForm input {
  margin: 15px 0;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.add {
  cursor: pointer;
  background: #f5f5f5;
}